################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/proj.win32/GameTrafficOptimization.VC.VC.opendb
